@font-face{
	font-family: Excelorate-Font;
	src: url("fonts/Excelorate-Font.otf");
}
body{
	margin: 0;
	background-image: url(img/3411.jpg);
}
#header{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;    
	background-color: #222;
	text-align: center;
	z-index: 100;
}
#header .btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: red;
	text-transform: uppercase;
	font-family: Excelorate-Font;
	transition-duration: 200ms;
	background-color: rgba(0, 0, 0, 0.8);
}
#header .btn:hover{
	background-color: rgba(0, 0, 0, 0.8);
	color: red;
	text-shadow: 0 0 7px #777;
}
#header .btn .menu{
	position: absolute;
	left: 0;
	top: calc(100% - 5px);
	padding: 10px;
	border-radius: 5px;	
	text-align: left;
	background-color: rgba(0, 0, 0, 0.8);
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200px;
}
#header .btn:hover .menu{
	color: yellow;
	transform: translateY(0) scaleY(1);
}
#header .btn:hover .menu .cover{
	position: absolute;
	bottom: 100%;
	left: 0;
	height: 5px;
	width: 100%;
}
#header .btn .menu-btn{
	font-size: 20px;
	color: yellow;
	text-transform: none;
}
#header .btn .arr{
	position: relative;
	vertical-align: top;
	width: 20px; 
	height: 20px;
	margin: 5px;
	display: inline-block;
}
#header .btn .arr::before{
	content: "";
	position: absolute;
	display: block;
	background-color: yellow;
	width: 12px;
	height: 2px;
	top: calc(50% - 1px);
	left: 0;
	transform: rotate(-45deg);
	transition-duration: 200ms;
}	
#header .btn .arr::after{
	content: "";
	position: absolute;
	display: block;
	background-color: yellow;
	width: 12px;
	height: 2px;
	top: calc(50% - 1px);
	right: 0;
	transform: rotate(45deg);
	transition-duration: 200ms;
}
#header .btn:hover .arr::before{
	transform: rotate(45deg);
}
#header .btn:hover .arr::after{	
	transform: rotate(-45deg);
}
	
#header .logo{
	padding: 0;
	height: 50px;
}	
#header .logo img{
	height: 100%;
}
#header .btn1{

}
#header .btn2{

}
#content{
	min-height: 100vh;
	background-color: #111;
}
#footer{
	text-align: center;
	padding: 50px;
	background-color: #222;
}
#block1{

}
#block1 .video{
	width: 100%;
}
.block{

}
#footer span{
	margin: 10px;
	color: #aaa;
}
#footer span a{
	color: #aaa;
	text-decoration-line: none;
}
#footer span a:hover{
	text-decoration-line: underline;
}